.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  background-color: #2f4050;
  top: 43px;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.row {
  height: 60px;
  border: 1px solid black;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.row:hover {
  cursor: pointer;
  background-color: #1f2937;
}

.row#active {
  background-color: #1f2937;
}


.icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.title {
  flex: 70%;
  padding-left: 10px;
}
